---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import TextSection from '../components/TextSection.astro';
---

<Layout title="Contacts">
	<Hero
		title="Contacts"
		backgroundImage="/images/hero-contacts.png"
	/>
	<TextSection label="Managing Agents" heading="SHW (Stiles Harold Williams)">
		<p>The blocks managing agents are SHW (Stiles Harold Williams Partnership LLP) and our property manager is <strong>Serena Taylor</strong></p>
		<p><strong>Worthing office:</strong> 3 Liverpool Gardens, Worthing, West Sussex, BN11 1TF</p>
		<p><strong>Brighton office:</strong> Lees House, 21-33 Dyke Road, Brighton, East Sussex, BN1 3FE</p>
		<p><strong>Email:</strong> <a href="mailto:staylor@shw.co.uk"><strong>staylor@shw.co.uk</strong></a></p>
		<p><strong>Phone:</strong> <a href="tel:01273 876226"><strong>01273 876226</strong></a></p>
		<p><strong>Website:</strong> <a href="https://www.shw.co.uk/">shw.co.uk</a></p>
		<p><strong>Office operating hours: </strong>09:00 - 17:00 Mon-Fri</p>
	</TextSection>
	<TextSection label="Out of Hours" heading="Out of hours contact">
		<p>Adiuvo are used for out of hours issues when these are needing be raised. Please call number below to raise an out of hours issue:</p>
		<p><strong>Phone: <a href="tel:01323406997">01323 406997</a></strong></p>
		<p><strong>Out of office operating hours: </strong></p>
		<p>17:00 - 09:00 Mon - Fri</p>
		<p>24hrs Weekend</p>
	</TextSection>
	<TextSection label="RTM" heading="How to contact the RTM">
		<p>If you need to contact us please email the committee here:</p>
		<p>Email : <a href="mailto:wragcommittee@gmail.com">wragcommittee@gmail.com</a></p>
	</TextSection>
</Layout>
