---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import TextSection from '../components/TextSection.astro';
---

<Layout title="Frontpage">
	<Hero
		title="Wakehurst Court"
		tagline="Wakehurst Court community site"
		backgroundImage="/images/hero-home.jpg"
	/>
	<TextSection label="Who we are" heading="Wakehurst Court">
		<p>Wakehurst Court is a community run block of flats in Worthing (UK), which is led by the Wakehurst Court Residents RTM Company LTD and managed by SHW.</p>
		<p>The RTM company was setup in 2021, with an aim to provide better visibility and control over the blocks management and we appointed SHW as our managing agents after a review of the services we were receivng.</p>
	</TextSection>
</Layout>
