---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import TextSection from '../components/TextSection.astro';
---

<Layout title="Policies">
	<Hero
		title="Policies"
		backgroundImage="/images/hero-policies.jpg"
	/>
	<TextSection label="Company Info" heading="Wakehurst Court Residents RTM Company LTD">
		<p>The RTM was incorporated in April 2021 and details can be seen here on <a href="https://find-and-update.company-information.service.gov.uk/company/13359774">Companies House</a></p>
	</TextSection>
</Layout>
